
.Container{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;
  grid-template-areas: "header header header header"
                      "mainText mainText . extraText"
                      "footer footer footer footer"
}
.header{
  padding: 4rem;
  margin: 1rem;
  background-color: #5c9d4c;
  grid-area: header
}
.mainText{
  margin: 1rem;
  padding: 4em;
  background-color: #b9c342;
  grid-area: mainText

}
.extraText{
  margin: 1rem;
  padding: 4em;
  background-color: #ba6476;
  grid-area: extraText
}
.footer{
  margin: 1rem;
  padding: 4em;
  background-color: rgb(195, 105, 66);
  grid-area: footer
}
